<form asp-action="Create" method="post" asp-route-questionId=@ViewBag.questionId asp-route-answerId=@ViewBag.answerId>

    <textarea cols="100" rows="9" name="Comment"></textarea>
    <button type="submit">Confirm</button>
</form>