@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    <a asp-controller="questions" asp-action="index">Showing All Questions</a>

 

    
</div>
